/ServletHTML/build/
/ServletHTML/nbproject/private/
/netifesapi/nbproject/private/
/NetIfesWeb/nbproject/private/
/HibernateDAO/target/
/libnetifes/target/
/libnetifes/nbproject/
/NetIfesWeb/build/
/NetIfesWeb/dist/